<div class="form-title">
    <h1 class="centre-align">UPDATE PASSWORD</h1>
</div>
<div class="form">
    <form method="post" [formGroup]="changePasswordForm">

        <div class="grid">
            <div><label>Email</label>

                <input type="email" name="email" formControlName="email" [readOnly]="true">
            </div>
        </div>
        <div class="grid">
            <div>
                <label>New Password</label>
                <input type="password" formControlName="password"><br>
            </div>
            <div>
                <label>Confirm Password</label>
                <input type="password" formControlName="confirmPassword"><br>
            </div>
        </div>
        <div class="button-container">
            <button type="button" (click)="onSubmit()">Submit</button>
        </div>

    </form>
</div>