<h1 class="centre-align">ALLOCATION HISTORY</h1>
<table role="grid">
  <thead>
    <tr>
      <th>Allocation ID</th>
      <th>User Name</th>
      <th>Reward Name</th>
      <th>Awarded Points</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let allocation of allocationData">
      <td>{{ allocation.id }}</td>
      <td>{{ allocation.userName }}</td>
      <td>{{ allocation.recognitionActivityName }}</td>
      <td>{{ allocation.awardedpoints }}</td>
      <td> <button style="background-color: red;" (click)="navigateToAllocaionDetails(allocation.id)">DELETE</button>
      </td>
      <!-- Add more columns as needed -->
    </tr>
  </tbody>
</table>